.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.header__linkHome{
    cursor: pointer;
}

.header__logo{
 width:100%;
 max-width: 499px;
}


@media screen and (min-width:550px){
    .header{
    flex-direction: row;
    }
}

