.botonNuevoVideo,
.botonSaveAddVideo,
.botonLimpiarAddVideo,
.botonSaveCategory,
.botonLimpiarCategoria,
.botonEditarCategoria,
.botonVerVideo,
.botonVerFullCategoria,
.botonEditDeleteVideo {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  background-color: #2a7ae4;
  color: #fff;
}

.botonNuevoVideo:hover,
.botonSaveAddVideo:hover,
.botonLimpiarAddVideo:hover,
.botonSaveCategory:hover,
.botonLimpiarCategoria:hover,
.botonEditarCategoria:hover,
.botonVerVideo:hover,
.botonVerFullCategoria:hover,
.botonEditDeleteVideo:hover {
  background-color: red;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.iconoBoton {
  color: black;
  font-size: 1.1rem;
  padding-right: 0.5rem;
  color: white;
}
